/* ====================== main layout section =============================== */

.page-title {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

article {
    margin-left: 2%;
    width: 70%;
}

h2 {
    font-family: 'Playfair Display', serif;
}

h3 {
    font-family: 'Playfair Display', serif;
}

.recipe ul li {
    font-family: 'Lato', sans-serif;
}

.recipe ol li {
    font-family: 'Lato', sans-serif;
}

figcaption {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #454545;
}

.directions {
    margin-bottom: 10px;
}

/* ====================== header section ==================================== */

header {
    background-color: #ffc7c7;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 3.5em;
    color: black;
    text-align: left;
    padding-top: 10px;
    padding-left: 13%;
    margin: 0px;
}

header p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color: #454545;
    padding-left: 17%;
    padding-top: 5px;
    margin: 0px;
    padding-bottom: 15px;
}

.sitelogo {
    width: 118px;
    height: 126px;
    float: left;
    padding-top: 5px;
}

.addthis_inline_share_toolbox_43eh {
    float: right;
    margin-right: 1%;
    margin-top: .7%;
}

/* ====================== nav section ======================================= */

nav {
    background-color: #ffebeb;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: thick double black;
    border-bottom: thick double black;
}

.navbar {
    text-align: center;
}

.dropdown {
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    text-decoration: none;
    width: 5em;
}

.home {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-right: 1em;
}

.order {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-left: 1em;
}

li.dropdown {
    display: inline-block;
}

.recipe-categories {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 5px 5px 0px lightgrey;
    min-width: 160px;
    z-index: 1;
}

.recipe-categories a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.recipe-categories a:hover {background-color: #efefef}

.dropdown:hover .recipe-categories {
    display: block;
}

.navbar a:link {
    text-decoration: none;
    color: black;
}

.navbar a:visited {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    text-decoration: underline;
    color: black;
}

.navbar a:active {
    text-decoration: underline;
    color: black;
}

.recipe-categories a:link {
    text-decoration: none;
    color: black;
}

.recipe-categories a:visited {
    text-decoration: none;
    color: black;
}

.recipe-categories a:hover {
    color: black;
}

.recipe-categories a:active {
    color: black;
}


/* ====================== footer section ==================================== */

.text-footer{
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.addthis_inline_share_toolbox_2ko5{
    margin: 0 auto 0 auto;
}

/* ====================== home section ====================================== */



/* ====================== breakfast section ================================= */




/* ====================== lunch section ===================================== */





/* ====================== dinner section ==================================== */



/* ====================== dessert section =================================== */


/* ====================== snacks section ==================================== */

.artichoke-dip {
    width: 50%;
}

/* ====================== order section ===================================== */

.custom-cake-orders {
    font-family: 'Lato', sans-serif;
}

.basic-info {
    width: 600px;
    border: none;
    text-decoration: none;
}

.buttons {
    width: 600px;
    border: none;
    text-decoration: none;
}

.required-text-field {
    font-weight: bold;
    margin-left: 15px;
}

.required {
    font-weight: bold;
    margin-left: 15px;
}

.contact legend {
    font-weight: bold;
}

#txtFirstName {
    width: 400px;
    padding: 5px 5px;
    margin: 5px 5px;  
    font-size: 14pt;
    font-family: Times;
}

#txtFirstName:focus {
    background-color: #E3FFDF;
}

#txtEmail {
    width: 400px;
    padding: 5px 5px;
    margin: 5px 5px;  
    font-size: 14pt;
    font-family: Times;
}

#txtEmail:focus {
    background-color: #E3FFDF;
}


#txtComments {
    width: 400px;
    padding: 5px 5px;
    margin: 5px 5px;  
    font-size: 14pt;
    font-family: Times;
}

#txtComments:focus {
    background-color: #E3FFDF;
}

#lstMethods {
    width: 350px;
    margin: 5px 5px;  
    font-size: 12pt;
    font-family: Times;
}

.invisible {
    border: none;
    text-decoration: none;
}

.mistake {
    color: red;
}

#errors ol li{
    color: red;
}
#btnSubmit {
    width: 125px;
    height: 50px;
    background-color: #2c5c2f;
    border: 2px solid white;
    color: white;
    padding: 5px 5px;
    margin: 5px 5px;
    font-family: Times;
    font-weight: bold;
    font-size: 15pt;
    text-align: center;
    border-radius: 10px;
}

#btnSubmit:hover {
    background-color: #2c5c2f;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.cake-collage {
    width: 46%;
    float: right;
    margin-top: 2em;
    margin-right: 1em;
    margin-left: 1em;
}
